{% extends 'base.html' %}
{% block title %}Edit a Post{% endblock %}

{% block content %}
<h1>{{ self.title() }}</h1>
<div class="col-4 m-2">
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" value="{{ post.title }}" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Post Content</label>
            <input type="text" class="form-control" name="content" value="{{ post.content }}" required>
        </div>

        {% for tag in tags %}
        {% include 'tag-options.html' %}
        {% endfor %}
        
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary mx-1" href="/posts/{{ post.user.id }}">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        
  </form>
</div>

{% endblock %}