{% extends 'base.html' %}
{% block title %}Edit a User{% endblock %}

{% block content %}
<h1>{{ self.title() }}</h1>
<div class="col-4 m-2">
    <form method="POST">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName" value="{{user.first_name}}" required>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName" value="{{user.last_name}}" required>
        </div>
        <div class="mb-3">
            <!-- Lazy code ahead -->
            {% if user.image_url == 'https://t3.ftcdn.net/jpg/03/46/83/96/240_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg' %}
            <label for="imageUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" name="imageUrl" placeholder="Provide an image of this user">
            
            {% else %}
            <label for="imageUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" name="imageUrl" value="{{user.image_url}}">
            {% endif %}
            
            <!-- End lazy code -->
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary mx-1" href="/users">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        
  </form>
</div>

{% endblock %}