{% extends 'base.html' %}
{% block title %}Add Tag{% endblock %}

{% block content %}
<div class="col-4 m-2">
    <h1>Create a tag</h1>

    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter a name for the tag" required>
        </div>

        {% for post in all_posts %}
        {% include 'post-options.html' %}
        {% endfor %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary mx-1" href="/tags">Cancel</a>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
        
  </form>
</div>
{% endblock %}